body{
    background-color:teal;
}
/* font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    color: #0e4873;
    background-color: #bae1ec;
    overflow-x: hidden;
    overflow-y: auto;
} */

.question{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
}

#startButton{
    display: block;
    margin: auto;
    text-align: center;
    
}

.Start{
    background-color: silver; 
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 3%;   
    padding-bottom: 97%;
    
}

#buttons{
    display: block;
    margin: auto;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: -18px;
    margin-top: -18px;
}

#side{
    display: flex;
    justify-content: end;
}

#bathDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#oldSchoolDiv,#newSchoolDiv, #handDiv, #eatOutDiv, #oldSchoolLaundryDiv, #newSchoolLaundryDiv, #handLaundryDiv, #outsideLaundryDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center{
    text-align: center;
}

#tips{
color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
}

.results{
    display: flex;
    justify-content: center;
    color: black;
}