body{
    background-color:teal;
}
/* font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    color: #0e4873;
    background-color: #bae1ec;
    overflow-x: hidden;
    overflow-y: auto;
} */

.question{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: blue;
}

#startButton{
    display: block;
    margin: auto;
    text-align: center;
    
}

.Start{
    background-color: silver; 
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 3%;   
    padding-bottom: 97%;
    
}

#buttons{
    display: block;
    margin: auto;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#side{
    display: flex;
    justify-content: end;
}